[Unit]
Before=nexus.target
After=network.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/genprops
KillMode=process

[Install]
WantedBy=multi-user.target